<ion-grid class="channels-grid">
  <ion-row class="channels-row">
    <ion-col class="channels-col">
      <div class="channels-header-div" (click)="channelHeaderClicked()" [ngClass]="{'channel-header-selected': channelHeaderMenuOpen}">
        <h1 class="guild-name">{{guildName}}</h1>
        <ion-icon name="chevron-down-outline" class="channels-header-icon" [ngClass]="{'channel-header-icon-selected': channelHeaderMenuOpen}"></ion-icon>
      </div>

      <div *ngIf="channelHeaderMenuOpen" class="channel-header-menu">
        <span>Server settings options go here</span>
      </div>

      <div class="text-channel-section">
        <div *ngFor="let textChannel of textChannels" class="text-channel-container" (click)="onChannelClicked(textChannel.position)"
             [ngClass]="{'channel-selected': textChannel.selected}">
    <span class="text-channel-span">
    # {{textChannel.title}}
      <br/>
    </span>
        </div>
      </div>
    </ion-col>
    <ion-col class="messages-col">
      <app-messages></app-messages>
    </ion-col>
  </ion-row>
</ion-grid>
