<ion-header>
  <ion-toolbar color="lightdark">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back" size="large"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="arrow-forward" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <div>
            <ion-searchbar class="searchbar" color="primary"></ion-searchbar>
          </div>
        </ion-col>
        <ion-col size="0.6" class="ion-text-center">
          <ion-button fill="clear" color="light">
            <ion-icon name="settings-outline" size="large" class="settings-icon"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="0.5" class="header-avatar-column">
          <ion-avatar>
            <img src="https://cdn.parlantos.com/images/kixstar.jpg" alt="avatar placeholder for styling">
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="container-grid">
    <ion-row class="container-grid-row">
      <ion-col class="ion-no-padding navbar-col">
        <ion-grid class="navbar-grid">
<!--          <ion-row>-->
<!--            <ion-col class="ion-no-padding">-->
<!--              <ion-button class="nav-tab-button" (click)="navTabClicked(0)" color="dark" [ngClass]="{ 'nav-tab-selected' : navTabSelectedList[0]}">-->
<!--                <div class="inner-nav-tab">-->
<!--                  <ion-icon name="notifications-outline" class="nav-tab-icon-size"></ion-icon>-->
<!--                  <ion-text class="nav-tab-text">Mentions</ion-text>-->
<!--                </div>-->
<!--              </ion-button>-->
<!--            </ion-col>-->
<!--          </ion-row>-->
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-button class="nav-tab-button" (click)="navTabClicked(1)" color="dark" [ngClass]="{ 'nav-tab-selected' : navTabSelectedList[1]}">
                <div class="inner-nav-tab">
                  <ion-icon name="chatbubble-outline" class="nav-tab-icon-size"></ion-icon>
                  <ion-text class="nav-tab-text">Chat</ion-text>
                </div>
              </ion-button>
            </ion-col>
          </ion-row>
<!--          <ion-row>-->
<!--            <ion-col class="ion-no-padding">-->
<!--              <ion-button class="nav-tab-button" (click)="navTabClicked(2)" color="dark" [ngClass]="{ 'nav-tab-selected' : navTabSelectedList[2]}">-->
<!--                <div class="inner-nav-tab">-->
<!--                  <ion-icon name="compass-outline" class="nav-tab-icon-size"></ion-icon>-->
<!--                  <ion-text class="nav-tab-text">Explore</ion-text>-->
<!--                </div>-->
<!--              </ion-button>-->
<!--            </ion-col>-->
<!--          </ion-row>-->
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-button class="nav-tab-button" (click)="navTabClicked(3)" color="dark" [ngClass]="{ 'nav-tab-selected' : navTabSelectedList[3]}">
                <div class="inner-nav-tab">
                  <ion-icon name="people-circle-outline" class="nav-tab-icon-size"></ion-icon>
                  <ion-text class="nav-tab-text">Servers</ion-text>
                </div>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-margin-top">
            <ion-col class="ion-no-padding">
              <div>
                <div (click)="navTabClicked(4)" [ngClass]="{ 'nav-tab-selected' : navTabSelectedList[4]}">
                  <ion-avatar class="server-icon" >
                    <img src="https://cdn.parlantos.com/images/kixstar.jpg" alt="test">
                  </ion-avatar>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col class="ion-no-padding">
        <router-outlet></router-outlet>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
