<ion-content>
  <div class="create-account-div">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="create-account-header">Create Account</h1>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size-xl="3" size-lg="5" size-md="6" size-sm="9" size-xs="12">
          <ion-card class="create-account-card">
            <form [formGroup]="createAccountGroup" (ngSubmit)="registerUser()">
              <ion-grid>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="11" class="top-column">
                    <div class="email-label">
                      Email
                    </div>
                    <ion-item color="medium">
                      <ion-input type="text" id="email" formControlName="email"></ion-input>
                    </ion-item>
                    <div *ngIf="createAccountGroup.get('email').invalid" class="form-error">Please enter a valid email address.</div>
                    <div class="username-label">
                      Username
                    </div>
                    <ion-item color="medium">
                      <ion-input type="text" id="username" formControlName="username"></ion-input>
                    </ion-item>
                    <div *ngIf="createAccountGroup.get('username').invalid && createAccountGroup.get('username').touched" class="form-error">Please enter a username.</div>
                    <div class="password-label">
                      Password (6 or more characters)
                    </div>
                    <ion-item color="medium">
                      <ion-input [type]="hidePassword ? 'password': 'text'" id="password" formControlName="password" #password></ion-input>
                      <i class="fa fa-eye show-password-icon" (click)="changePasswordView()"></i>
                    </ion-item>
                    <div *ngIf="createAccountGroup.get('password').errors?.required && createAccountGroup.get('password').touched" class="form-error">Please enter a password.</div>
                    <div *ngIf="createAccountGroup.get('password').errors?.minlength && createAccountGroup.get('password').touched" class="form-error">Password must be 6 characters or more.</div>
                    <div *ngIf="!meetsPasswordComplexity" class="form-error">Please enter a more complex password.</div>
                    <div class="repeat-password-label">
                      Confirm Password
                    </div>
                    <ion-item color="medium">
                      <ion-input [type]="hidePassword ? 'password': 'text'" id="repeat-password" formControlName="repeatPassword" pattern="{{password.value}}"></ion-input>
                      <i class="fa fa-eye show-password-icon" (click)="changePasswordView()"></i>
                    </ion-item>
                    <div *ngIf="createAccountGroup.get('repeatPassword').invalid && createAccountGroup.get('repeatPassword').touched" class="form-error">The passwords must match.</div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-text-center button-column bottom-column">
                    <ion-button type="submit" color="light" class="submit-button" [disabled]="createAccountGroup.invalid">Create Account</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="sign-in-text">
            Already have an account? <a href="/login">Sign in</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
