ion-button {
  margin-top: 1.5em;
  border-radius: 10px;
  font-size: 16px;
}

h2 {
  font-size: 20px;
  margin: 0;
}

h1 {
  color: white;
  font-weight: bold;
}

ion-card {
  width: 30em;
  background-color: #1E349C;
  border-radius: 10px;
  display: block;
}

ion-item {
  border-radius: 10px;
  background-color: #5256AB;
}

.login-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.submit-button {
  width: 80%;
  margin: 0 auto;
}

.app-name {
  font-size: 30px;
}
