<ion-content>
  <div class="login-div">
    <div>
      <ion-grid>
        <ion-row>
          <ion-col size="5" offset="0.2" class="ion-no-padding">
            <img src="../../../assets/Parlantos%20Text.svg" alt="Logo">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <h1 class="ion-margin-bottom ion-margin-start">Sign in</h1>
              <form [formGroup]="loginGroup">
                <ion-grid>
                  <ion-row>
                    <ion-col size="12" class="ion-text-center">
                      <ion-item color="medium">
                        <ion-label position="floating">
                          <h2 class="ion-margin-bottom">Username</h2>
                        </ion-label>
                        <ion-input type="text" id="username" formControlName="username"></ion-input>
                      </ion-item>
                      <ion-item class="ion-margin-top" color="medium">
                        <ion-label position="floating">
                          <h2 class="ion-margin-bottom">Password</h2>
                        </ion-label>
                        <ion-input type="text" id="password" formControlName="password"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </form>
              <div class="submit-button">
                <ion-button (click)="submitLogin()" class="ion-margin-bottom" color="light" expand="block">Sign In</ion-button>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
