.guild-grid {
  height: 100%;
  overflow: hidden;
}

.guild-row {
  height: 100%;
}

.channel-col {
  background-color: var(--ion-color-secondary);
}

.messages-col {
  background-color: var(--ion-color-tertiary);
}

.members-col {
  background-color: var(--ion-color-secondary);
  flex: 0 0 auto;
  width: 300px;
}
