.avatar-col {
  flex: 0 0 auto;
  width: 60px;
}

.avatar-img {
  width: 40px;
  height: 40px;
}

.date-text {
  font-size: 0.75rem;
  vertical-align: center;
}

.message-row {
  margin-bottom: 10px;
  margin-left: 10px;
}

.author-text {
  margin-right: 10px;
  vertical-align: center;
}

//.container-div {
//  overflow: auto;
//  height: calc(100vh - 100px);
//}
