.avatar-col {
  flex: 0 0 auto;
  width: 60px;
}

.avatar-img {
  width: 40px;
  height: 40px;
}

.date-text {
  font-size: 0.75rem;
  vertical-align: center;
}

.message-row {
  margin-bottom: 10px;
  margin-left: 10px;
}

.author-text {
  margin-right: 10px;
  vertical-align: center;
}

.input-box-div {
  background-color: var(--ion-color-tertiary-tint);
  width: 95%;
  //height: 44px;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  //top: 50%;
  //left: 50%;
}

.messages-grid {
  padding-left: 0;
  overflow: auto;
  height: calc(95vh - 85px);
}

.message-input {
  margin-left: 5px;
  margin-top: 0;
  vertical-align: center;
  height: 44px;
  width: 91%;
  padding: 3px 0 0 0;
}

.message-form {
  height: 100%;
}

.send-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
  background-color: transparent;
  --background: transparent;
  height: 100%;
  border-radius: 20px;
  width: 60px;
}

.send-icon {
  font-size: 24px;
  z-index: 1;
}

//.send-button:hover {
//  color: var(--ion-color-light);
//}
